@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
@import url('https://fonts.cdnfonts.com/css/harry-potter');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bday.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    perspective: 1000px;
    display: none;
}
.code{
    /* display: none; */
    display: flex;
    background-color: antiquewhite;
    width: 100vw;       height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.code input{
    width: 350px;       height: 30px;
    text-align: center;
    /* font-family: 'Harry Potter', sans-serif; */
}
.card{
    width: 280px;
    height: 360px;
    position: absolute;
    top: 100px;
    left: 230px;
    transition: 2s;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
}
.block{
    position: absolute;
    width: 400px;
    top:200px;
    right: 600px;
    align-items: center;
    background-color: red;
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
}
.outside{
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;
}
.outside h1{
    font-size: 2.7rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}
.inside{
    background-color: salmon;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    overflow-y: scroll;
}
.inside img{
    width: 200px;
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
/* .frames{
    width: 400px;   height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.8rem;

    position: absolute;
}
.frames img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.frames p{
   font-size: 20px;
   font-weight: bold;
}
.frames:nth-child(1)
{   width: 300px;
    top:-110px;
    z-index: -1;
    background-color: coral;
}
.frames:nth-child(1) p{
    font-size: 70px;
    letter-spacing: 5px;
}
.frames:nth-child(2) p{
    font-size: 50px;
    letter-spacing: 3px;
}
.frames:nth-child(2){
    background-color: goldenrod;
}
.frames:nth-child(3)
{
    top:100px;
    background-color: burlywood;
} */
.block{
    right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frames{
    padding: 0%;
    height: 150px;      width: 400px; 
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.8rem;
    position: absolute;

}
.frames img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.frames p{
    font-size: 20px;
    font-weight: bold;
 }
.frame1{
    width: 260px;
    background-color: coral;
    box-shadow: 0 0px 5px coral;
    text-align: center;
    top:-100px;
    z-index: -1;
}
.frame1 p{
    transform: translateY(-15px);
}
.frame2{
    width: 350px;
    background-color: goldenrod;
    box-shadow: 0 3px 10px gold;
    text-align: center;
    top: 0px;
}
.frame2 p{
    transform: translateY(-20px);
}
.frame3{
    width: 400px;
    background-color: burlywood;
    text-align: center;
    top:100px;
}
.frames:nth-child(1) p{
    font-size: 70px;
    color: aliceblue;
    text-shadow: 0 0px 7px wheat;
    letter-spacing: 5px;
}
.frames:nth-child(2) p{
    font-size: 50px;
    color: aliceblue;
    text-shadow: 0 0px 5px wheat;
    letter-spacing: 3px;
}